certifi==2020.12.5
chardet==4.0.0
configparser==5.0.1
future==0.18.2
geoserver-restconfig==2.0.4.8
gisdata==0.5.4
-e git+git@github.com:gmioannou/gspublish.git@8d5bc5d7999a5bcb597114a2ea8efdf23a9d1ef8#egg=gspublish
idna==2.10
psycopg2==2.8.6
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
urllib3==1.26.5
